<html>
    <head>

    </head>
    <body>
        <h1>  
       IN:     {{country}}
        </h1>
    <h3> The latitude : {{latitude}} </h3>
        <h3> The longitude : {{longitude}} </h3>

        <h3>
            temp is: {{temp}}
        </h3 >
    </body>
</html>